.notification-container {
    margin-top: 30px;
}
.notification-paper {
    padding: 20px;
    border-radius: 15px !important;
}
.unread-notif {
    background-color: #F0F8FF; /* Alice Blue - very light blue */
}